
  .columns{
    display: flex;
 
  }

  .container{
    width: 60%;
    margin: 0 auto;
    border: 2px solid red;
    padding: 20px;
    border-radius: 15px;

  }
.col1,.col2{
    border: 2px solid gold;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    flex-grow: 2;
   
}

.col3,.col4{
    border: 2px solid gold;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    flex-grow: 2;
 
}
.img{
  max-width: 20%; 
  gitborder-radius: 100%;
  padding-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .columns{
    display: flex;
    flex-direction: column;
  }
  h1,h2{
    text-align: center;
  }
  .img{
   max-width: 100%;
    
  }
}